extends layout

block content
  .flowtime
    .ft-section
      .ft-page
        .square.wide.d-none
          .menu
            include square/menu
          .s1p1
            include square/s1p1
        .tall.s1p1
          .menu
            include tall/menu
          include tall/s1p1                       
    .ft-section
      .ft-page.s2p1
        .square.wide.d-none
          include square/s2p1
        .tall
          include tall/s2p1
      .ft-page.s2p2
        .square.wide.d-none
          include square/s2p2
        .tall
          include tall/s2p2
