doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/flowtime.css')

  body
    block content
    script(src='/javascripts/brav1toolbox.js')
    script(src='/javascripts/flowtime.js')

