doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='flowtime.js/css/flowtime.css')

  body
    block content
    script(src='flowtime.js/js/brav1toolbox.js')
    script(src='flowtime.js/js/flowtime.js')

