body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #000000;
  color:#FFFFFF;
  margin:0px;
}
.s2p1{
  background-image: url('../images/bg-team.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.s2p2{
  background-image: url('../images/bg-team.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.team-container{
  height: 90%;
}
.team{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.title{
  font-size: 5rem;
  color:#38f1f6;
}
.bar{
  background-color: #0f1b47;
  border-bottom: 2px solid white;
}

.s1p2 .title{
  font-size:2rem;
  color:black;
}

.team-container .anasemeano{
  background-image: url('../images/people/AnaSemeano.png');
}
.team-container .arquimedescheffer{
  background-image: url('../images/people/ArquimedesCheffer.png');
}
.team-container .brunocosta{
  background-image: url('../images/people/BrunoCosta.png');
}
.team-container .gustavopatino{
  background-image: url('../images/people/GustavoPatino.png');
}
.team-container .name h4{
  /* width: 68%; */
  background-color: #0f1b47;
  color:#38f1f6;
  /* border-top: 20px solid #ffffff00; */
}


a{
  color: : #FFFFFF;
}
