a.navbar-brand(href='#')
button.navbar-toggler.toggler-example(type='button' data-toggle='collapse' data-target='#navbarSupportedContent1' aria-controls='navbarSupportedContent1' aria-expanded='false' aria-label='Toggle navigation')
  span.dark-blue-text
    i.fas.fa-bars
#navbarSupportedContent1.collapse.navbar-collapse
  ul.navbar-nav.mr-auto
    li.nav-item.active
      a.nav-link(href='/')
        | Home 
        span.sr-only (current)
    li.nav-item
      a.nav-link(href='#') Services
    li.nav-item
      a.nav-link(href='#/2/1') Team
    li.nav-item
    a.nav-link(href='#/2/2') Contacts