nav.navbar.bar.justify-content-center
  p.title.text-center.p-2 Team
  include menu
.team-container.d-flex-column
  .d-flex.justify-content-center
    .p-5.align-self-center.parallax.team-member(data-parallax="50,100")
      .team.anasemeano
      .pt-4.name  
        h4.text-center.rounded-pill Ana Semeano
  .d-flex.justify-content-center      
    .p-5.align-self-center.parallax.team-member(data-parallax="100,150")
      .team.arquimedescheffer
      .pt-4.name
        h4.text-center.rounded-pill Arquimedes Cheffer  
  .d-flex.justify-content-center      
    .p-5.align-self-center.parallax.team-member(data-parallax="50,100")
      .team.brunocosta
      .pt-4.name
        h4.text-center Bruno Costa
  .d-flex.justify-content-center
    .p-5.align-self-center.parallax.team-member(data-parallax="100,150")
      .team.gustavopatino
      .pt-4.name  
        h4.text-center Gustavo Patino  