nav.navbar.bar.justify-content-center
  p.title.text-center.p-2 Contacts
  include menu
.contact-container.d-flex-row
  .d-flex.justify-content-center
    .p-5.align-self-center
      form(id="contact-information-tall",action="/contact/lead",method="post")
        select.form-control.form-control-lg
          option Contact type
          option Partnership information
          option Product information
        input.form-control.form-control-lg(type="text",name="subject",placeholder="subject")
        textarea.form-control.form-control-lg(cols="40",rows="8",name="message",placeholder="Type your message here")
        input.form-control.form-control-lg(type="text",name="name",placeholder="your name")
        input.form-control.form-control-lg(type="phone",name="phone",placeholder="your phone number")
        input.form-control.form-control-lg(type="email",name="email",placeholder="your email")
        //input.form-control.btn.btn-primary.btn-lg.btn-block(type="submit",value="send")
        button.contact-information.form-control.btn.btn-primary.btn-lg.btn-block(type="button",value="send") Send
        button.g-recaptcha(data-sitekey='6LfudP4ZAAAAAEBRdv1MsiLECE0pOisHTVpVT8Ma' data-callback='onSubmitTall' data-action='submit') Submit