nav.navbar.navbar-expand-lg.navbar-light.bg-light
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href='#')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='/#/1/1') Services
      li.nav-item
        a.nav-link(href='/#/2/1') Team
      li.nav-item
        a.nav-link(href='#') About Us