.d-flex.justify-content-center
  h1.text-center Developing sensing systems to smell and recognize complex mixtures in real time
  i.fas.fa-arrow-down
.ft-fragment.image-1
.ft-fragment.image-2
.ft-fragment.image-3
.ft-fragment.image-4
.ft-fragment.image-5
.ft-fragment.image-6  
.ft-fragment.image-7  