.d-flex.justify-content-center
  h1.text-center Developing sensing systems to smell and recognize complex mixtures in real time
  i.fas.fa-arrow-down
  img(src="/images/s1p2/slide.png",width="100%")  