.d-flex.justify-content-center.bar
  h1.title.p-2 Team
.team-container.d-flex.justify-content-center
  .p-5.align-self-center.parallax.team-member(data-parallax="50,100")
    .team.anasemeano
    .name
      h4.text-center Ana Semeano
  .p-5.align-self-center.parallax.team-member(data-parallax="100,150")
    .team.arquimedescheffer
    .name
      h4.text-center Arquimedes Cheffer  
  .p-5.align-self-center.parallax.team-member(data-parallax="50,100")
    .team.brunocosta
    .name
      h4.text-center Bruno Costa
  .p-5.align-self-center.parallax.team-member(data-parallax="100,150")
    .team.gustavopatino  
    .name
      h4.text-center Gustavo Patino  